


<div>
  <p>{{dadosdois.stdout}}</p>
</div>


















<!-- <mat-grid-list cols="2" rowHeight="4:2">
  <mat-grid-tile>
    <mat-card style="height: 100px; width: 380px;">
      <mat-card-content> {{dadosdois.name}} </mat-card-content>
      <mat-card-title style="text-align: center;"> {{dadosdois.stdout}} </mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

<!-- <mat-grid-tile>
    <mat-card style="height: 100px; width: 280px;">
      <mat-card-content> Cartão simples </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="height: 100px; width: 280px;">
      <mat-card-content> Cartão simples </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="height: 100px; width: 280px;">
      <mat-card-content> Cartão simples </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="height: 100px; width: 280px;">
      <mat-card-content> Cartão simples </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="height: 100px; width: 280px;">
      <mat-card-content> Cartão simples </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="height: 100px; width: 280px;">
      <mat-card-content> Cartão simples </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="height: 100px; width: 280px;">
      <mat-card-content> Cartão simples </mat-card-content>
    </mat-card>
  </mat-grid-tile> -->