.p_on_cards {
    width: 100%;
    height: 550px;
    /* border: 1px solid blue; */
    flex-wrap: wrap;
    /* padding: 5px 1px; */
    /* padding: 5px; */
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    /* align-items: baseline; */
    background-image: linear-gradient(160deg, #000000c2 0%, #00000075 100%);
    border-radius: 5px;
    overflow-y: auto;
    position: relative;

}

mat-card {
    background-color: rgb(199, 164, 172);
    padding: 5px;
    margin: 3px;
    max-width: 300px;
    text-align: center;
    border-radius: 5px;
}

mat-card-title{
    font-size: 17px;
}

.usado {
    color: rgb(152, 65, 65);
}

img {
    padding-left: 10px;
    width: 70px;
}