<mat-card>
    <mat-card-title>Cadastro empresa</mat-card-title>
    <mat-grid-list cols="2" rowHeight="2:1">
        <!-- MATRIZ/FILIAL -->
        <mat-form-field appearance="outline">
            <mat-label>Matriz/Filial:</mat-label>
            <mat-select [(ngModel)]="empresa.matrizFilial" required>
                <mat-option value="Matriz">Matriz</mat-option>
                <mat-option value="Filial">Filial</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-list>

    <!-- IP -->
    <mat-form-field appearance="outline">
        <mat-label>Razão social:</mat-label>
        <input [(ngModel)]="empresa.razao" matInput name="razao" required>
    </mat-form-field>
    <!-- HABILITAR -->
    <mat-slide-toggle style="padding-bottom: 5px;" [(ngModel)]="empresa.status" name="enableWifi" >Habilitar conta</mat-slide-toggle>

    <!-- SALVAR/CANCELAR -->
    <div class="example-button-row">
        <button color="warn" (click)="salvar()" required mat-button>Salvar</button>
        <button mat-button color="primary" routerLink="/clientes">Cancelar</button>
    </div>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</mat-card>